.about{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 20px;
}

.about h1{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #000;
}

.about h2{
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 5px 0;
}

.about p{
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}