.header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.header div{
    text-align: center;
}

.header div h1{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.header-medium{
    grid-column: 2 / 6;
}

.header-small img, .header-small h1{
    cursor: pointer;
}

.header-small-left{
    grid-column: 2 / 4;
    justify-self: left;
}

.header-small-right{
    grid-column: 4 / 6;
    justify-self: right;
}

.header-medium img, .header-small img{
    width: 100%;   
}

